@model IEnumerable<Practica.EF.Entities.Models.CustomersDTO>

@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Scripts.Render("~/Pages/CustomerList")

@Styles.Render("~/Styles/Customers")


<h2>Customers</h2>

<p>
    <button type="button" onclick="initCreate()">Create New</button>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CustomerID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompanyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContactName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContactTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Region)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Region)
            </td>
            <td>
                <button type="button" onclick="initEdit('@Json.Encode(item)')">Edit</button>
                <button type="button" onclick="deleteCustomer('@Json.Encode(item)')">Delete</button>
            </td>
        </tr>
    }

</table>

<div id="divCreate">
    <div id="modal-create" class="container-fluid text-center">
        <form id="create-form" class="needs-validation" data-toggle="validator">

            <div class="row m-15 form-group">
                <label class="col-xs-6">Customer ID</label>
                <input class="col-xs-6 customer-form-input" type="text" name="CustomerID" maxlength="5"  />
                <div class="text-right input-error"></div>
            </div>

            <div class="row m-15">
                <label class="col-xs-6">Company name</label>
                <input class="col-xs-6 customer-form-input" type="text" name="CompanyName" maxlength="40" required />
                <div class="text-right input-error"></div>
            </div>

            <div class="row m-15">
                <label class="col-xs-6">Contact name</label>
                <input type="text" class="col-xs-6 customer-form-input" name="ContactName" maxlength="30" required />
                <div class="text-right input-error"></div>
            </div>

            <div class="row m-15">
                <label class="col-xs-6">Contact title</label>
                <input type="text" class="col-xs-6 customer-form-input" name="ContactTitle" maxlength="30" />
            </div>

            <div class="row m-15">
                <label class="col-xs-6">Adress</label>
                <input type="text" class="col-xs-6 customer-form-input" name="Address" maxlength="60" />
            </div>

            <div class="row m-15">
                <label class="col-xs-6">City</label>
                <input type="text" class="col-xs-6 customer-form-input" name="City" maxlength="15" />
            </div>

            <div class="row m-15">
                <label class="col-xs-6">Region</label>
                <input type="text" class="col-xs-6 customer-form-input" name="Region" maxlength="15" />
            </div>

            <div class="row m-15">
                <label class="col-xs-6">Postal code</label>
                <input type="text" class="col-xs-6 customer-form-input number-input" name="PostalCode" maxlength="10" />
            </div>

            <div class="row m-15">
                <label class="col-xs-6">Country</label>
                <input type="text" class="col-xs-6 customer-form-input" name="Country" maxlength="15" />
            </div>

            <div class="row m-15">
                <label class="col-xs-6">Phone</label>
                <input type="text" class="col-xs-6 customer-form-input number-input" name="Phone" maxlength="24" />
            </div>

            <div class="row m-15">
                <label class="col-xs-6">Fax</label>
                <input type="text" class="col-xs-6 customer-form-input number-input" name="Fax" maxlength="24" />
            </div>

        </form>
    </div>
</div>

<div id="divEdit">
    <div id="modal-edit" class="container-fluid text-center">
        <form id="edit-form">

            <div class="row m-15">
                <label class="col-xs-6">Customer ID</label>
                <input class="col-xs-6 customer-form-input" type="text" name="CustomerID" maxlength="5" disabled required />
                <div class="text-right input-error"></div>
            </div>

            <div class="row m-15">
                <label class="col-xs-6">Company name</label>
                <input class="col-xs-6 customer-form-input" type="text" name="CompanyName" maxlength="40" required />
                <div class="text-right input-error"></div>
            </div>

            <div class="row m-15">
                <label class="col-xs-6">Contact name</label>
                <input type="text" class="col-xs-6 customer-form-input" name="ContactName" maxlength="30" required />
                <div class="text-right input-error"></div>
            </div>

            <div class="row m-15">
                <label class="col-xs-6">Contact title</label>
                <input type="text" class="col-xs-6 customer-form-input" name="ContactTitle" maxlength="30"/>
            </div>

            <div class="row m-15">
                <label class="col-xs-6">Adress</label>
                <input type="text" class="col-xs-6 customer-form-input" name="Address" maxlength="60"/>
            </div>

            <div class="row m-15">
                <label class="col-xs-6">City</label>
                <input type="text" class="col-xs-6 customer-form-input" name="City" maxlength="15"/>
            </div>

            <div class="row m-15">
                <label class="col-xs-6">Region</label>
                <input type="text" class="col-xs-6 customer-form-input" name="Region" maxlength="15"/>
            </div>

            <div class="row m-15">
                <label class="col-xs-6">Postal code</label>
                <input type="text" class="col-xs-6 customer-form-input  number-input" name="PostalCode" maxlength="10"/>
            </div>

            <div class="row m-15">
                <label class="col-xs-6">Country</label>
                <input type="text" class="col-xs-6 customer-form-input" name="Country" maxlength="15"/>
            </div>

            <div class="row m-15">
                <label class="col-xs-6">Phone</label>
                <input type="text" class="col-xs-6 customer-form-input number-input" name="Phone" maxlength="24"/>
            </div>

            <div class="row m-15">
                <label class="col-xs-6">Fax</label>
                <input type="text" class="col-xs-6 customer-form-input number-input" name="Fax" maxlength="24"/>
            </div>

        </form>
    </div>
</div>
